<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tuna</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<main>
		<div class="spectrogram">
			<canvas ref="spectrogram" @mousemove="moveLine($event)"></canvas>
			<div class="line" :style="{ top: currentFrequency.step }"><label>{{currentFrequency.frequency}}</label></div>
		</div>
		<button @click="start()" v-if="!on">Поехали</button>
		<button @click="start()" v-if="on">Стоп</button>

	</main>
	<script type="text/template">
		<div class="slider">
			
		</div>
	</script>
	<script src="vue.js"></script>
	<script src="main.js"></script>
</body>
</html>